{
    "secret": "some very long secret to change and use!",
    "debug": false,
    "mailConfig": {
        "host": "ssl0.ovh.net",
        "port": 465,
        "secure": true,
        "auth": {
            "user": "your-user",
            "password": "your-pw"
        },
        "comment": "As seen here, i used ovh to send things."
        "from": "noreply@example.com",
        "to": "somebody@example.com"
    },
    "requesterConfig": {
        "targetHost": "domain.hosting.the.thing.example",
        "comment": "Do not include http/https here."
    }
}